header {
   min-height: 4rem;
   display: flex;

   background-color: black;
   color: white;

   & .contents {
      margin: auto;
   }
}

main {
   margin: 0 auto;
   max-width: 1280px;

   & .contents {
      padding-top: 5rem;
   }
}